<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <!--Production-->
    <add name="Max" connectionString="Provider=SQLOLEDB;Data Source=SQL2.sellarswipers.com;Database=ExactMAX;UID=sa;Pwd=S3ll@rs;"/>
    <add name="Shopfloor" connectionString="Server=SQL2.sellarswipers.com;Initial Catalog=ShopfloorControl;UID=sa;Pwd=S3ll@rs;"/>
    <add name="MaxData" connectionString="Server=SQL2.sellarswipers.com;Initial Catalog=ExactMAXSELLR;UID=sa;Pwd=S3ll@rs;"/>
    <add name="Dynamics" connectionString="Server=SQL2.sellarswipers.com;Initial Catalog=SELLR;Uid=sa;Pwd=S3ll@rs;" />

    <!--Development-->
    <!--<add name="MaxData" connectionString="Server=sqldev.sellarswipers.com;Initial Catalog=ExactMAXSELLR;Integrated Security=SSPI;" />
    <add name="Shopfloor" connectionString="Server=sqldev.sellarswipers.com;Initial Catalog=ShopfloorControl;Integrated Security=SSPI;" />-->
  </connectionStrings>
</configuration>